<template>
  <div class="Cart">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-8">
        <CartList />
      </div>
      <div class="cell medium-4">
        Total: {{ total }}
        <button class="button expanded"
                @click="checkout = true">Checkout</button>
      </div>
    </div>
    <CheckoutForm :show="checkout" />
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';
import * as getters from '@/store/getter-types';
import * as mutations from '@/store/mutation-types';
import CheckoutForm from '@/components/CheckoutForm.vue';
import CartList from '@/components/CartList.vue';

export default {
  name: 'CartView',
  components: {
    CartList,
    CheckoutForm,
  },
  computed: {
    ...mapGetters('shop', {
      total: getters.GET_CART_TOTAL,
    }),
    checkout: {
      get() {
        return this.$store.state.shop.checkout;
      },
      set(val) {
        this.setCheckout(val);
      },
    },
  },
  methods: {
    ...mapMutations('shop', {
      setCheckout: mutations.SET_CHECKOUT,
    }),
  },
};
</script>

<style scoped>

</style>
