<template>
  <div class="home">
    <MainCatalog />
  </div>
</template>

<script>
import MainCatalog from '@/components/MainCatalog.vue';

export default {
  name: 'home',
  components: {
    MainCatalog,
  },
};
</script>
