<template>
  <div>
    <label class="input-group">
      <span class="input-group-label" v-if="label">{{ label }}</span>
      <input class="input-group-field"
             type="text"
             ref="input"
             :value="currentVal"
             @change="onChange"
             @paste="onPaste"
      >
    </label>
  </div>
</template>

<script>
export default {
  name: 'VInputNumber',
  props: {
    label: {
      type: String,
    },
    value: {
      type: Number,
      default: NaN,
    },
    max: {
      type: Number,
      default: Infinity,
    },
    min: {
      type: Number,
      default: -Infinity,
    },
  },
  data() {
    return {
      currentVal: null,
    };
  },
  watch: {
    value: {
      immediate: true,
      handler(newValue, oldValue) {
        if (
          !(Number.isNaN(newValue) && typeof oldValue === 'undefined')
          // Avoid infinite loop
          && newValue !== this.currentVal
        ) {
          this.setValue(newValue);
        }
      },
    },
  },
  methods: {
    onChange(event) {
      this.setValue(Math.min(this.max, Math.max(this.min, event.target.value)));
    },
    onPaste(event) {
      const clipboardData = event.clipboardData || window.clipboardData;
      if (clipboardData && !this.checkNumber(clipboardData.getData('text'))) {
        event.preventDefault();
      }
    },
    setValue(value) {
      const oldValue = this.currentVal;
      let newValue = this.checkNumber(value) ? value : oldValue;

      if (this.min <= this.max) {
        newValue = Math.min(this.max, Math.max(this.min, newValue));
      }
      this.currentVal = newValue;

      if (newValue === oldValue) {
        this.$refs.input.value = newValue;
      }

      this.$emit('input', newValue);
    },
    checkNumber(num) {
      return !Number.isNaN(Number(num));
    },
  },
};
</script>

<style scoped>

</style>
