<template>
  <div class="VRangeInput margin-bottom-1">
    <div class="h4" v-if="title">{{ title }}</div>
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <VInputNumber v-model="value[0]" label="from"
                      :min="min"
                      :max="max"
                      @input="onInput"
        />
      </div>
      <div class="medium-6 cell">
        <VInputNumber v-model="value[1]"
                      label="to"
                      :min="min"
                      :max="max"
                      @input="onInput"
        />
      </div>
    </div>
  </div>
</template>

<script>
import VInputNumber from '@/components/Base/VInputNumber.vue';

function validateRangeValue(values) {
  return Array.isArray(values) && values.every(item => typeof item === 'number');
}

export default {
  name: 'VRangeInput',
  components: {
    VInputNumber,
  },
  props: {
    title: {
      type: String,
    },
    min: {
      type: Number,
      default: 0,
    },
    max: {
      type: Number,
      default: Infinity,
    },
    value: {
      type: Array,
      required: true,
      validator(val) {
        return validateRangeValue(val);
      },
    },
  },
  methods: {
    onInput() {
      this.$emit('input', this.value);
    },
    validateInput() {
      return validateRangeValue(this.value);
    },
  },
};
</script>

<style scoped>

</style>
