<template>
  <div class="CartList">
    <CartItem v-for="(product, index) in products" :key="index"
              :name="product.name"
              :id="product.url"
              @removeFromCart="removeFromCart"
    />
  </div>
</template>

<script>
import { mapMutations, mapState, mapGetters } from 'vuex';
import * as mutations from '@/store/mutation-types';
import * as getters from '@/store/getter-types';
import CartItem from '@/components/CartItem.vue';

export default {
  name: 'CartList',
  components: {
    CartItem,
  },
  computed: {
    ...mapState('shop', {
      cart: 'cart',
    }),
    ...mapGetters('shop', {
      products: getters.GET_ITEMS_IN_CART,
    }),
  },
  methods: {
    ...mapMutations('shop', {
      removeFromCart: mutations.REMOVE_FROM_CART,
    }),
  },
  mounted() {
  },
};
</script>

<style scoped>

</style>
