<template>
  <div class="CartItem padding-1 bordered margin-bottom-1">
    <div class="grid-x align-center-middle">
      <div class="small-9">{{ name }}</div>
      <div class="small-3">
        <button class="button expanded alert margin-0"
                @click="$emit('removeFromCart', id)">Remove from Cart</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CartItem',
  props: {
    name: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped>

</style>
