<template>
  <div class="CatalogFilter">
    <div class="h3">Filter</div>
    <template v-if="filters && filterDefaults">
      <div v-for="(filter, key) in filters"
           :key="key">
        <VRangeInput v-if="filter.type === 'range' && filter.values"
                     :value="filter.values"
                     @input="$event => setFilterParams({
                       name: key,
                       values: $event,
                     })"
                     :title="key"/>
        <div v-if="filter.type === 'checkbox'">
          <div class="h4">{{ key }}</div>
          <ul class="no-bullet">
            <li v-for="(val, index) in filterDefaults[key]" :key="key + index">
              <input :id="key + index"
                     v-model="filter.values"
                     type="checkbox"
                     :value="val">
              <label :for="key + index">{{ val }}</label>
            </li>
          </ul>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapGetters, mapState, mapMutations } from 'vuex';
import * as getters from '@/store/getter-types';
import * as mutations from '@/store/mutation-types';
import VRangeInput from '@/components/Base/VRangeInput.vue';
import { isObjectEqual } from '@/helpers';

export default {
  name: 'CatalogFilter',
  components: {
    VRangeInput,
  },
  data() {
    return {
      myfilters: {
        cost_in_credits: [NaN, NaN],
        hyperdrive_rating: [NaN, NaN],
      },
    };
  },
  computed: {
    ...mapState('shop', {
      filters: 'filterData',
    }),
    ...mapGetters('shop', {
      filterDefaults: getters.GET_FILTER_DEFAULTS,
    }),
  },
  watch: {
  },
  mounted() {
    this.setFilterFromDefaults();
    this.setFilterFromQuery();

    this.$nextTick(() => {
      this.$watch('filters', (newVal) => {
        const query = {};

        Object.keys(newVal).forEach((filterName) => {
          query[filterName] = newVal[filterName].values.slice();
        });

        if (isObjectEqual(query, this.$router.currentRoute.query)) return;

        this.$router.push({
          name: this.$router.currentRoute.name,
          query: {
            ...this.$router.currentRoute.query,
            ...query,
          },
        });
      }, { deep: true });
    });
  },
  methods: {
    ...mapMutations('shop', {
      setFilterParams: mutations.SET_FILTER_PARAMS,
    }),
    setFilterFromDefaults() {
      Object.keys(this.filterDefaults).forEach((name) => {
        if (!this.filters[name].values) {
          this.setFilterParams({
            name,
            values: this.filterDefaults[name],
          });
        }
      });
    },
    setFilterFromQuery() {
      const { query } = this.$router.currentRoute;

      Object.keys(query).forEach((param) => {
        let values = query[param];

        if (typeof values === 'string') {
          values = [values];
        }

        if (this.filters[param]) {
          this.setFilterParams({
            name: param,
            values,
          });
        }
      });
    },
  },
};
</script>

<style scoped>

</style>
