<template>
  <v-modal v-if="show">
    <div class="h4" slot="header">Checkout</div>
    <div slot="body">
      <form>
        <div class="grid-x grid-padding-x">
          <div class="small-4 cell">
            <label for="checkoutName" class="text-right middle">Name</label>
          </div>
          <div class="small-8 cell">
            <input type="text" id="checkoutName" v-model="formData.name">
          </div>
          <div class="small-12 form-error text-right" :class="{'is-visible': errors.name}">
            {{ errors.name }}
          </div>
        </div>
        <div class="grid-x grid-padding-x">
          <div class="small-4 cell">
            <label for="checkoutRace" class="text-right middle">Race</label>
          </div>
          <div class="small-8 cell">
            <input type="text" id="checkoutRace" v-model="formData.race">
          </div>
          <div class="small-12 form-error text-right" :class="{'is-visible': errors.race}">
            {{ errors.race }}
          </div>
        </div>
        <div class="grid-x grid-padding-x">
          <div class="small-4 cell">
            <label for="checkoutDate" class="text-right middle">Delivery Date</label>
          </div>
          <div class="small-8 cell">
            <datepicker id="checkoutDate" v-model="formData.date"></datepicker>
          </div>
          <div class="small-12 form-error text-right" :class="{'is-visible': errors.date}">
            {{ errors.date }}
          </div>
        </div>
      </form>
    </div>
    <div slot="footer" class="text-right">
      <button class="button success" @click="onClickPay">Pay</button>
    </div>
  </v-modal>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import { mapActions } from 'vuex';
import * as actions from '@/store/action-types';
import VModal from '@/components/Base/VModal.vue';

export default {
  name: 'CheckoutForm',
  components: {
    Datepicker,
    VModal,
  },
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      errors: {
        name: null,
        race: null,
        date: null,
      },
      formData: {
        name: '',
        race: '',
        date: new Date(),
      },
    };
  },
  methods: {
    ...mapActions('shop', {
      checkoutCart: actions.CHECKOUT_CART,
    }),
    onClickPay() {
      if (this.validateForm()) {
        this.checkoutCart();
        this.$router.push('/');
      }
    },
    validateForm() {
      const invalidRows = Object.keys(this.formData).filter((row) => {
        if (!this.formData[row]) {
          this.errors[row] = 'Это поле обязательно для заполнения';
          return true;
        }
        this.errors[row] = null;
        return false;
      });

      return invalidRows.length === 0;
    },
  },
};
</script>

<style scoped>

</style>
