<template>
    <div class="MainCatalog">
      <div class="grid-x grid-padding-x" v-if="products.length">
        <div class="cell medium-4">
          <CatalogFilter />
        </div>
        <div class="cell medium-8">
          <ProductsList />
        </div>
      </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import CatalogFilter from './CatalogFilter.vue';
import ProductsList from './ProductsList.vue';

export default {
  name: 'MainCatalog',
  components: {
    CatalogFilter,
    ProductsList,
  },
  computed: {
    ...mapState('shop', {
      products: 'goods',
    }),
  },
};
</script>

<style scoped>

</style>
