<template>
    <ul class="ProductsList accordion">
      <ProductItem v-for="(product, index) in filteredProducts"
                   :key="index"
                   :name="product.name"
                   :params="product"
                   :in-cart="cart.indexOf(product.url) !== -1"
                   @addToCart="addToCart"
                   @removeFromCart="removeFromCart"
      />
    </ul>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import * as mutations from '@/store/mutation-types';
import ProductItem from '@/components/ProductItem.vue';

export default {
  name: 'ProductsList',
  components: {
    ProductItem,
  },
  computed: {
    ...mapState('shop', {
      products: 'goods',
      cart: 'cart',
      filters: 'filterData',
    }),
    filteredProducts() {
      const keys = Object.keys(this.filters);

      return this.products.filter(product => keys.every((key) => {
        const param = this.filters[key];
        if (!param) return true;
        if (!Array.isArray(param.values)) return false;


        switch (param.type) {
          case 'range':
            return (param.values[0] <= Number(product[key])
                && Number(product[key]) <= param.values[1]);
          case 'checkbox':
            if (!param.values.length) return true;
            return param.values.indexOf(product[key]) !== -1;
          default: return true;
        }
      }));
    },
  },
  methods: {
    ...mapMutations('shop', {
      addToCart: mutations.ADD_TO_CART,
      removeFromCart: mutations.REMOVE_FROM_CART,
    }),
  },
  mounted() {
  },
};
</script>

<style scoped>

</style>
