<template>
  <li class="accordion-item" :class="{ 'is-active': expanded }">
    <a href="#" class="accordion-title" @click.prevent="toggle">{{ name }}</a>
    <div class="accordion-content" v-show="expanded">
      <div class="grid-x">
        <div class="small-9">
          <div v-for="(param, key) in params"
               :key="key"
          >
            {{ key }} - {{ param }}
          </div>
        </div>
        <div class="small-3">
          <button v-if="!inCart"
                  class="button expanded"
                  @click="$emit('addToCart', params.url)"
                  :disabled="!isAvail">Add To Cart</button>
          <button v-else
                  class="button expanded alert"
                  @click="$emit('removeFromCart', params.url)"
                  :disabled="!isAvail">Remove from Cart</button>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
export default {
  name: 'ProductItem',
  props: {
    name: {
      type: String,
      required: true,
    },
    params: {
      type: Object,
      required: true,
    },
    inCart: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      expanded: false,
    };
  },
  computed: {
    isAvail() {
      return !!Number(this.params.cost_in_credits);
    },
  },
  methods: {
    toggle() {
      this.expanded = !this.expanded;
    },
  },
};
</script>

<style lang="scss" scoped>
  .accordion-content {
    display: block;
  }
</style>
