<template>
    <div class="top-bar">
      <div class="tob-bar-left">
        <router-link to="/">
          <div class="menu-text">StarWarsShop</div>
        </router-link>
      </div>
      <div class="top-bar-right">
        <router-link to="/cart">
          <span class="material-icons">shopping_basket</span>
          {{cartTotal}} ({{cartCount}})
        </router-link>
      </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import * as getters from '@/store/getter-types';

export default {
  name: 'TopBar',
  computed: {
    ...mapGetters('shop', {
      cartCount: getters.GET_CART_COUNT,
      cartTotal: getters.GET_CART_TOTAL,
    }),
  },
};
</script>

<style scoped>

</style>
