<template>
  <div id="app">
    <TopBar />
    <div class="grid-container padding-vertical-2">
      <router-view/>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import * as actions from '@/store/action-types';
import TopBar from './components/TopBar.vue';
import { poll } from '@/helpers';

export default {
  components: {
    TopBar,
  },
  methods: {
    ...mapActions('shop', {
      fetchGoods: actions.FETCH_GOODS,
    }),
  },
  async mounted() {
    poll(this.fetchGoods, 10, 60 * 1000);
  },
};
</script>

<style lang="scss">
</style>
